# Base de données
DB_ROOT_PASSWORD=changeme_root
DB_NAME=icc_cerdagne
DB_USER=icc_user
DB_PASS=changeme_db

# API
JWT_SECRET=                    # openssl rand -hex 32

# Email
CONTACT_EMAIL=contact@navetteinfo.fr
